
page-agenda {
   .inside-list{

   }
   .slide{
   }
}
 .good-toast {
      >div{
        background-color:map-get($colors,calm)!important;
      }
    }
 .bad-toast {
        >div{
         background-color:map-get($colors,danger)!important;
        }
  
      }

.performed{
    background-color:map-get($colors,lightcalm)!important;
  }
  .not-performed{
    background-color:map-get($colors,lightdanger)!important;
  }