task-component{


}

 .over-do-task{
    //background-color:map-get($colors,overDo)!important;
    }
  .due-task{
    //background-color:map-get($colors,dueTime)!important;
  }
  .just-in-time-task{
   //background-color:map-get($colors,justInTime)!important;
  }
  .plenty-time-task{
    //background-color:map-get($colors,plentyTime)!important;
  }
