task-component{

  //.checkbox-checked .checkbox-inner{
  //  
  //  position: absolute;
  //  top: 0;
  //  left: 4px;
  //  width: 5px;
  //  height: 10px;
  //  border-width: 0px!important;
  //  border-color: transparent!important;
  //  -webkit-transform: rotate(0deg)!important;
  //  transform: rotate(0deg)!important;
  //}
}

 .over-do-task{
   // background-color:map-get($colors,overDo)!important;
    }
  .due-task{
   // background-color:map-get($colors,dueTime)!important;
  }
  .just-in-time-task{
   //background-color:map-get($colors,justInTime)!important;
  }
  .plenty-time-task{
    //background-color:map-get($colors,plentyTime)!important;
  }
