<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{'LOGIN.TITLE'|translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- Add some informative text depending on the step you are in -->
  <p *ngIf="!smsSent">{{'LOGIN.BEFORE-SEND-ID-TEXT'|translate}}</p>
  <p *ngIf="smsSent">{{'LOGIN.BEFORE-SEND-CODE-TEXT'|translate}}</p>

  <ion-item>
    <ion-label color="primary" stacked>{{'LOGIN.ID-LABEL'|translate}}</ion-label>
    <ion-input [disabled]="idIsSent" [(ngModel)]="id"></ion-input>
  </ion-item>
  <ion-item *ngIf="smsSent">
    <ion-label color="primary" stacked>{{'LOGIN.CODE-LABEL'|translate}}</ion-label>
    <ion-input #password type="password" [(ngModel)]="pass"></ion-input>
    <button ion-button item-right clear icon-only (click)="showPassword(password)">
      <ion-icon [color]="showPass ? 'primary':'light'" name="eye"></ion-icon>
    </button>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col width-25>
        <button *ngIf="!smsSent" [disabled]="idIsSent" ion-button full color="secondary" (click)="sendId()">{{'LOGIN.SEND-ID-BUTTON'|translate}}</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-25>
        <button *ngIf="smsSent" ion-button full color="secondary" (click)="login()">{{'LOGIN.SEND-CODE-BUTTON'|translate}}</button>
      </ion-col>
      <ion-col width-25>
        <button *ngIf="smsSent" ion-button full color="secondary" (click)="changeId()">{{'LOGIN.CHANGE-ID-BUTTON'|translate}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
