page-login {
    
    .item-inner {
        border-bottom-color:map-get($colors,plentyTime) !important;
        box-shadow: inset 0 -1px 0 0 map-get($colors,calm) !important;
    }
    p{
        text-align: justify;
        padding: 12px;
        font-size: medium;        
    }
}
