unsel-confirmation{
    div.unsel-confirmation-container{
        display: flex;
        justify-content: space-between;
    }
    div.radio-container{
         display:table;
         table-layout:fixed;
         width:60%;
         height:45px;
         div{
            display: table-cell;
            text-align: center;
            align-content: center;
        }
    }
}
