unsel-confirmation{
  .selector-container{
    display:flex;
    flex-direction: column;
    padding: 1rem;
  }
  .explain-text{
    text-align: center;
  }
  .options-container{
    display:flex;
    justify-content: space-around;
    align-items:center;
    .button-effect{
      background-color: transparent !important;
    }
  }
}

.unsel-confirmation-popover {
  ion-backdrop{
    opacity: 0.1!important;
  }

  .popover-content{
    display: inline-block;
    width:320px;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: slideInRight;
  }

  .confirm-selection{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    text-align: center;
    align-content: center;
    ion-radio{
      display: flex;
      justify-content: space-around;
    }
  }
}
