page-report {
  .slide-zoom {
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }

  ion-slides {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
  }

  ion-slide {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    top: 20px;
  }

  infographic-slide {
    height: 100% !important;
    width: 100% !important;
  }

  .swiper-pagination {
    position: absolute;
    top: 10px;
  }

  #contentContainer {
    height: 100%;
    width: 100%;
  }
}
