page-report {
 .slide-zoom{
  height: 100%;
  width:100%;
  overflow-y: auto;
 }

ion-slides {
  height: auto;
}

#loading-container{
  height:100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
}
