page-know {
    .square {
        width: 100% !important;
        height:0 !important;
        padding: 0 0 100% 0 !important;
    }
    button.square{
        background-color:map-get($colors , light);
    }
}
