page-qr-configuration {
    .qr-scanner{
        width:100vw;
        height:100vh;
        color:white;
        text-align: center;
        padding: 3em;
        background-color:rgba(20, 20, 20, 0.3);
        clip-path: polygon(0vw 0vh, 0vw 100vh, 20vw 100vh, 20vw 60vw, 80vw 60vw, 80vw 120vw, 20vw 120vw, 20vw 100vh, 100vw 100vh, 100vw 0vh);
    }
.nav-decor{
    background: none transparent !important;
}

}
