page-qr-configuration {
    .qr-scanner{
        width:100vw;
        height:100vh;
        color:white;
        text-align: center;
        padding: 3em;
        background-color:rgba(20, 20, 20, 0.3);
        clip-path: polygon(0vw 0vh, 0vw 100vh, 25vw 100vh, 25vw 75vw, 75vw 75vw, 75vw 125vw, 25vw 125vw, 25vw 100vh, 100vw 100vh, 100vw 0vh);
        }
}
