<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{"AGENDA.TITLE" | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
        <ion-item color="secondary">
          <div (click)="prevDay()" item-left clear>
            <ion-icon name="arrow-back"></ion-icon>
          </div>
          <div (click)="nextDay()" item-right clear>
            <ion-icon name="arrow-forward"></ion-icon>
          </div>
          <section item-content style="width:100%;text-align: center;">{{day | date}}</section>
        </ion-item>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-slides #slider [options]="sliderOptions" style="height:100%" >
          <ion-slide class="slide" *ngFor="let items of itemsList" style="height:auto">

            <ion-list class="inside-list" style="height:100%">
              <ion-item *ngFor="let item of items">
                <ion-label> {{item.name}}</ion-label>
                <button ion-button (click)="gotoExerciseVideo(item.videoUrl)" item-right clear icon-only>
                  <ion-icon name="play"></ion-icon>
                </button>
                <button ion-button (click)="gotoExerciseInfo()" item-right clear icon-only>
                  <ion-icon name="information-circle"></ion-icon>
                </button>
                <ion-checkbox  (ionChange)="finish(item)" color="dark"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>