
page-agenda {   
  //This is so the slides don't stay on the middle of the page
  .slide-zoom{
    height:100%;
  }
}
 .good-toast {
      >div{
        background-color:map-get($colors,calm)!important;
      }
    }
 .bad-toast {
        >div{
         background-color:map-get($colors,danger)!important;
        }
  
      }

  .performed{
    background-color:map-get($colors,taskPerformed)!important;
  }
  .not-performed{
    background-color:map-get($colors,taskNotPerformed)!important;
  }