
page-agenda {
   
}
 .good-toast {
      >div{
        background-color:map-get($colors,calm)!important;
      }
    }
 .bad-toast {
        >div{
         background-color:map-get($colors,danger)!important;
        }
    }