
page-agenda {
  //This is so the slides don't stay on the middle of the page
  .slide-zoom{
    height:100%;
    }
  .date-header{
    background-color:map-get($colors,light)!important;
  }
  }

  //This is global
 .good-toast>div{
    background-color:map-get($colors,calm)!important;
    }    
 .bad-toast>div{
    background-color:map-get($colors,danger)!important;
    }
  
  .effort-selector-popover {
    ion-backdrop{
      //opacity: 0.08!important;
    }
    
    .popover-content{
      right:0px;
      left:auto!important;
      display: inline-block;
      width:200px;
      background-color: transparent;

      animation-duration: 1s;
      animation-fill-mode: both;
      animation-name: bounceInRight;
    }

  }  
 
  .popover-md .popover-content{
    //margin-top:57px;
  }
   .popover-wp .popover-content{
    //margin-top:57px;
  }
  .popover-ios .popover-arrow::after{
    background-color:transparent;
  }
  .popover-ios .popover-content{
   margin-top:-54px
  }