
page-agenda {   
  //This is so the slides don't stay on the middle of the page
  .slide-zoom{
    height:100%;
    }
  .date-header{
    background-color:map-get($colors,light)!important;
  }
  }

  //This is global
 .good-toast>div{
    background-color:map-get($colors,calm)!important;
    }    
 .bad-toast>div{
    background-color:map-get($colors,danger)!important;
    }
  .performed{
    background-color:map-get($colors,taskPerformed)!important;
    }
  .not-performed{
    background-color:map-get($colors,taskNotPerformed)!important;
    }

  .effort-selector-popover {
    ion-backdrop{
      opacity: 0.2;
    }
    .popover-content{
      right:12px;
      width:95%;    
    }
  }  
  //This is so the popover doesn't appear infront of the trigger field
  .popover-md .popover-content{
    margin-top:57px;
  }
   .popover-wp .popover-content{
    margin-top:57px;
  }