
page-agenda {
  //This is so the slides don't stay on the middle of the page
  .slide-zoom{
    height:100%;
    }
    
  .date-header{
    background-color:map-get($colors,light)!important;
  }
  }

  //This is global -> TODO - change it to somewhere else 
 .good-toast>div{
    background-color:map-get($colors,calm)!important;
    }    
 .bad-toast>div{
    background-color:map-get($colors,danger)!important;
    }
  
  