tasks-slide {

  .disable-tasks-slide{
    position:absolute;
    height:100%;
    width:100%;
    z-index:10;
    background-color:#ffffff;
    opacity: 0.5;
  }

  .date-header{
    height:2.5em;
    text-align:center;
  }

  #tasks{
    min-height:80vh;
  }

}
