page-optimized-book {
    ion-navbar{
        position: absolute;
            z-index: 10;
    }
    ion-content {
            font-family: Helvetica, sans-serif;
        }
        #book {
            position: absolute;
        //	background-color: darkred;
        }

        #pages section {
            background-color: white;
            position: absolute;
            overflow: hidden;
            display: block;
            
            
        }
            #pages section>div {
                display: block;
                font-size: 12px;	
            }

        #pageflip-canvas {
            position: absolute;
            z-index: 9;
        }
}
