page-book {
    ion-navbar{
        position: absolute;
            z-index: 10;
    }
    ion-content {
            font-family: Helvetica, sans-serif;
        }
        #eventReciver{
            //Absolute because it won't move from it's position
            position:absolute;
        }
        #book {
            //Relative bacause it will move around when zooming
            position:relative;
        }

        #pages section {
            //Absolute so the diferent pages can overlap with one another
            position: absolute;


            background-color: white;
            overflow: hidden;
            display: block;
               
        }

        #pageflip-canvas {
            //Absolute so it is overlapping with the pages
            position: absolute;
        }
}
