page-home {

}
ion-content, h2, p {
	margin: 0;
	padding: 0;
}

ion-content {
	background-color: #444;
	color: #333;
	font-family: Helvetica, sans-serif;
}

#book {
	//background-color: teal;// url("book.png") no-repeat;
	position: absolute;
	width: 400px;
	height: 300px;
	left: 100%;
	top: 80%;
	margin-left: -400px;
	margin-top: -400px;
}

#pages section {
	background-color: white;//url("paper.png") no-repeat;
	display: block;
	width: 200px;
	height: 250px;
	position: absolute;
	left: 190px;
	top: 5px;
	overflow: hidden;
}
	#pages section>div {
		display: block;
		width: 200px;
		height: 250px;
		font-size: 12px;
	}
	#pages section p,
	#pages section h2 {
		padding: 3px 35px;
		line-height: 1.4em;
		text-align: justify;
	}
	#pages section h2{
		margin: 15px 0 10px;
	}

#pageflip-canvas {
	position: absolute;
	z-index: 100;
}
