
<ion-content>  
  <button ion-button 
      style="z-index:2000; position: absolute" 
      (click) = "navBack()" 
      color="light"
      icon-only >
        <ion-icon name = "arrow-back"></ion-icon></button>

 <div #book 
  id="book"
  (touchstart)="mouseDownHandler($event)"
      (pan)="mouseMoveHandler($event)"
      (touchend)= "mouseUpHandler($event)"
      >
      
    <canvas #pageflipCanvas id = "pageflip-canvas"></canvas>
      <div id = "pages" *ngFor="let image of imageList; let i = index">     
      <section *ngIf="i%2==0" #rightPage >        
        <div
        [style.width]="this.PAGE_WIDTH+'px'"
        [style.height]="this.PAGE_HEIGHT+'px'"        
        >
          <img 
          [src]='image' 
          [style.width]="this.PAGE_WIDTH+'px'"
          [style.height]="this.PAGE_HEIGHT+'px'"/>
        </div>
      </section>

      <section *ngIf="i%2==1" #leftPage 
      >        
        <div
        [style.width]="this.PAGE_WIDTH+'px'"
        [style.height]="this.PAGE_HEIGHT+'px'"        
        >
          <img 
          [src]='image' 
          [style.width]="this.PAGE_WIDTH+'px'"
          [style.height]="this.PAGE_HEIGHT+'px'"/>
        </div>
      </section>
    </div>
 </div>
</ion-content>