page-horizontal-book{
	ion-content {
		font-family: Helvetica, sans-serif;
	}
	#book {
	//	background-color: darkred;
	}
	button{
		
	}
	#pages section {
		background-color: white;
		position: absolute;
		overflow: hidden;
		display: block;
		
		
	}
		#pages section>div {
			display: block;
			font-size: 12px;	
		}

	#pageflip-canvas {
		position: absolute;
		z-index: 1000;
	}
}
