
ion-content {
	background-color: #444;
	color: #333;
	font-family: Helvetica, sans-serif;
}

#book {
	background-color: darkred;
}

#pages section {
	background-color: white;
	position: absolute;
	overflow: hidden;
	display: block;
	height: 100%;
	width: 100%;
	
	
}
	#pages section>div {
		display: block;
		font-size: 12px;	
	}

#pageflip-canvas {
	position: absolute;
	z-index: 1000;
}
#pageshadow-canvas {
	position: absolute;
	z-index: 1000;
}

