page-fill-form {
    ion-content {
        position: relative;
        margin: 0;
        padding-bottom: 6rem;
        min-height: 100%;
        font-family: "Helvetica Neue", Arial, sans-serif;
      }

    .footer {
        position: fixed;
        right: 0;
        //TODO - change this to 0
        bottom:0px;
        left: 0;
       
        
      }
      .horizontal-menu{
        padding: 1rem;
        background-color: #efefef;
        text-align: center;
        display: flex;
      }
}
