page-search {
    ion-title{
       
    }

    ion-title section{
       // text-align: center;
         
    }
    section{
        //color: #eaeafa;
        //color: #d2d2f9;
       // color: #ff8300;
        
    }
     
    
}
