page-search {
    ion-header{
         //background: #387ef5;//color($colors , primary);
       
        ion-navbar{
            //background: color($colors , primary);
            }
            ion-title{
              //background:color($colors , primary);
            //background-color:color($colors , primary);
            
            }
       //background-color: primary;
    }
    ion-content{

    }
    
}
