page-search {
    ion-title{
        background-color:#1c1c7d;
    }
    ion-title section{
        text-align: left;
         color: #d2d2f9;
    }
    section{
        color: #eaeafa;
        color: #d2d2f9;
        color: #1c1c7d;
       // color: #ff8300;
        
    }
    
   button{
    background-color : #1c1c7d;
   } 
    
}
