page-search {
    ion-title{
       background-color:#1c1c7d;
    }
    ion-title section{
        text-align: center;
         color: #d2d2f9;
    }
    section{
        color: #eaeafa;
        color: #d2d2f9;
        color: darkblue;
       // color: #ff8300;
        
    }
     
    
}
