<div class="title">
<div class="radio-container" radio-group> 
  <div class="effort-very-easy"><div style="display:block;">1</div><ion-radio (click)="close(LIGHT_LOW)"></ion-radio></div>
  <div class="effort-med-easy"><div style="display:block;">2</div><ion-radio (click)="close(LIGHT_HIGH)"></ion-radio></div>
  <div class="effort-low-easy"><div style="display:block;">3</div><ion-radio (click)="close(MODERATE_LOW)"></ion-radio></div>
  <div class="effort-low-hard"><div style="display:block;">4</div><ion-radio (click)="close(MODERATE_HIGH)"></ion-radio></div>
  <div class="effort-med-hard"><div style="display:block;">5</div><ion-radio (click)="close(HEAVY_LOW)"></ion-radio></div>
  <div class="effort-very-hard"><div style="display:block;">6</div><ion-radio (click)="close(HEAVY_HIGH)"></ion-radio></div>
</div>
</div>