effort-selector {
    .selector-container{
      display:flex;
      flex-direction: column;
      padding: 1rem;
    }
    .explain-text{
      text-align: center;
    }
    .options-container{
      display:flex;
      justify-content: space-around;
      align-items:center;
      .button-effect{
        background-color: transparent !important;
      }
    }

    button {
      background-color: map-get($colors , primary );
      border: none;
      color: white;
      height:36px;
      width:100%;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1em;
      text-transform: uppercase;
    }
  }



//////////////////////////////////
.effort-selector-popover {
    ion-backdrop{
      opacity: 0.1!important;
    }
    .popover-content{
      display: inline-block;
      width:320px;
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: slideInRight;
    }
  }

  .popover-md .popover-content{
    //margin-top:57px;
  }
  .popover-wp .popover-content{
    //margin-top:57px;
  }
  .popover-ios .popover-arrow::after{
    background-color:transparent;
  }
  .popover-ios .popover-content{
   margin-top:-40px
  }
