effort-selector {
    div.effort-selector-container{
      display: flex;
      justify-content: space-between;
    }

     .radio-container{
         width:14em;
         height:3em;
         display: flex;
         flex-wrap: nowrap;
         justify-content: space-between;
        }

    div.title{
        text-align: center;
        background-color: map-get($colors,primary);
        color: white;
    }
}
.effort-selector-popover {
    ion-backdrop{
      opacity: 0.1!important;
    }

    .popover-content{
      right:0.1em;
      left:auto!important;
      display: inline-block;
      width:320px;
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: slideInRight;
    }

    .effort-selection{
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      text-align: center;
      align-content: center;
      ion-radio{
        display: flex;
        justify-content: space-around;

      }
    }
  }

  .popover-md .popover-content{
    //margin-top:57px;
  }
  .popover-wp .popover-content{
    //margin-top:57px;
  }

  .popover-ios .popover-arrow::after{
    background-color:transparent;
  }
  .popover-ios .popover-content{
   margin-top:-48px
  }

  .effort-easy{
    //background-color:#00a652;
    }
  .effort-normal{
    // background-color:#fdb813
    }
  .effort-hard{
    // background-color:#fdb813
    }
  .effort-painful{
    // color:white;
    //text-align: center;
    // background-color:black;
    }
