<div class="effort-selector-container">
  <div class="explain-text">{{"EFFORT-SELECTOR.TEXT"|translate}}</div>

  <div radio-group class="radio-container">
    <div class="effort-very-easy">
      <div style="display:block;">{{"EFFORT-SELECTOR.EASY"|translate}}</div>
      <ion-radio (click)="close(LIGHT)"></ion-radio>
    </div>
    <div class="effort-low-easy">
      <div style="display:block;">{{"EFFORT-SELECTOR.NORMAL"|translate}}</div>
      <ion-radio (click)="close(MODERATE)"></ion-radio>
    </div>

    <div class="effort-very-hard">
      <div style="display:block;">{{"EFFORT-SELECTOR.HARD"|translate}}</div>
      <ion-radio (click)="close(HEAVY)"></ion-radio>
    </div>
    <div class="effort-painful">
      <div style="display:block;">{{"EFFORT-SELECTOR.PAIN"|translate}}</div>
      <ion-radio (click)="close(PAIN)"></ion-radio>
    </div>
  </div>
</div>
<!--
<div class="radio-container">
<button ion-fab class="effort-very-easy" 
(click)="close(LIGHT)"
style="display:block;">Easy</button>
<button ion-fab class="effort-low-easy" 
(click)="close(LIGHT)"
style="display:block;">Normal</button>
<button ion-fab class="effort-very-hard" 
(click)="close(LIGHT)"
style="display:block;">Hard</button>
<button ion-fab class="effort-painful" 
(click)="close(LIGHT)"
style="display:block;">Painful</button>
</div>-->