effort-selector {
    div.effort-selector-container{
        display: flex;
        justify-content: space-between;
    }
    div.explain-text{
        //display:flex;
       // align-items: center;
    }
     div.radio-container{  
         display:table;
         table-layout:fixed;
         width:60%;
         height:45px;
        }
    div.radio-container div{
        display: table-cell;
        text-align: center;
        align-content: center;
    }

    div.title{
        text-align: center;
        background-color: map-get($colors,primary);
        color: white;
    }



    .effort-very-easy{
        //background-color:#00a652;
        }
    .effort-med-easy{
        background-color:#bfd630
        }
    .effort-low-easy{
       // background-color:#fdb813
        }
    .effort-low-hard{
       // background-color:#fdb813
        }
    .effort-med-hard{
        background-color:#f37022
        }    
    .effort-very-hard{
       // background-color:#ed1b24;
        }
    .effort-painful{   
       // color:white;    
        //text-align: center;
        // background-color:black;
         
        }
}
.effort-selector-popover {
    ion-backdrop{
      opacity: 0.1!important;
    }
    
    .popover-content{
      right:0px;
      left:auto!important;
      display: inline-block;
      width:320px;

      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: slideInRight;
    }

  }  
 
  .popover-md .popover-content{
    //margin-top:57px;
  }
  .popover-wp .popover-content{
    //margin-top:57px;
  }
  
  .popover-ios .popover-arrow::after{
    background-color:transparent;
  }
  .popover-ios .popover-content{
   margin-top:-54px
  }