page-task-information {
    img {
        width: 100%;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.external-url-container {
    position: relative;
    padding-bottom: 100%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.external-url-container iframe,
.external-url-container object,
.external-url-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
