<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{task.name}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="videoUrl!=undefined && showVideoFrame" class="video-container">
    <iframe width="853" height="480" [src]="videoUrl" frameborder="0" allowfullscreen></iframe>
  </div>
  <div *ngIf="loading" class="loading-container">
    <loading-screen [text]="'TASK-INFORMATION.LOADING-MSG'|translate"></loading-screen>
  </div>
  <div *ngIf="!hasInfo">
    <ion-card-content>
      {{'TASK-INFORMATION.NO-CONTENT-TEXT'|translate}}
    </ion-card-content>
  </div>
  <div *ngIf="task.content" [innerHTML]="task.content">
  </div>
  <div *ngIf="externalLink!=undefined && showExternalLinkFrame" class="external-url-container">
    <iframe width="100%" height="100%" [src]="externalLink" frameborder="0" allowfullscreen></iframe>
  </div>
</ion-content>