<ion-header>

  <ion-navbar color = "lightblue">
    <ion-title *ngIf = "company!=undefined">{{company.name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf = "company != undefined">
  <p>[Address]{{company.address}}</p>
  <div *ngFor="let phone of company.phones">
    <p>[Phone from phone list]{{phone}}</p>
  </div>
  <p>[Url]{{company.url}}</p>
  <p>[VAT]{{company.vat}}</p>
  <p *ngIf = "company.establishmentYear != undefined">[Established]{{company.establishmentYear}}</p>
  <p>{{company.description}}</p>
  <h2>Contacts</h2>
  <ion-list *ngFor="let contact of company.contacts">
    <section>
      <ion-icon name="person" ></ion-icon>
    {{contact.name}}</section>
    <div id = "contact-extra">
      <section>phone: 
      <a [href]="'tel:'+contact.phone">{{contact.phone}}</a>
      </section>
      <section>mail: 
        <a [href]="'mailto:'+contact.mail">{{contact.mail}}</a>
      </section><br>      
      </div>
  </ion-list>
  </div>
</ion-content>