
page-work-book {
  //This is so the slides don't stay on the middle of the page
  .slide-zoom{
    min-height:100%;
    }

  .slides-wrapper{
    display:flex;
    ion-slides {
      flex-grow: 1;
    }
  }
  #today-button{
    position: absolute;
    bottom:0;
    width:100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
      height:auto;
    }
  }
}
