
page-work-book {
  //This is so the slides don't stay on the middle of the page
  .slide-zoom{
    height:100%;
    }
  .date-header{
    background-color:map-get($colors,light)!important;
  }
  .slides-wrapper{
    display:flex;
    ion-slides {
      flex-grow: 1;
    }
  }
  
}

  //This is global -> TODO - change it to somewhere else 
 .good-toast>div{
    background-color:map-get($colors,calm)!important;
    }    
 .bad-toast>div{
    background-color:map-get($colors,danger)!important;
    }
  
  /* //Color even/odd rows
  task-component > ion-item{
       background-color: $background-color !important;
    }
  task-component:nth-child(even) > ion-item {
        background-color: map-get($colors,overDo) !important;
    }*/