
page-work-book {
  //This is so the slides don't stay on the middle of the page
  .slide-zoom{
    height:100%;
    }

  .slides-wrapper{
    display:flex;
    ion-slides {
      flex-grow: 1;
    }
  }
}
